:root {
	--primary-font: Helvetica, sans-serif;
	--secondary-font: serif;
	--text-color: #000;
	--white-color: #fff;
	--lime-color: #f3ffd4;
	--secondary-color: #2400ff;
	--fade-in-effect: fadein 800ms;
	font-size: calc(1em + 0.5vw);
	font-family: var(--secondary-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation: var(--fade-in-effect);
	-moz-animation: var(--fade-in-effect);
	-ms-animation: var(--fade-in-effect);
	-o-animation: var(--fade-in-effect);
	animation: var(--fade-in-effect);
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

::selection {
}

html,
body {
	margin: 0;
	padding: 0;
	touch-action: manipulation;
}
body,
html {
	margin: 0;
	padding: 0;
}

::selection {
	color: var(--text-color);
	background: var(--text-color-secondary);
}

body {
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;
	height: 100vh;
}

/* HEADER */

header {
	position: relative;
	padding: 0 1rem;
	height: 100%;
	grid-row: 1;
	font-family: var(--primary-font);
	align-items: baseline;
	justify-content: space-between;
}

header p {
	font-size: 2rem;
	/* margin: 0.6rem 0 0.3rem 0; */
	font-family: var(--secondary-font);
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

nav {
	padding: 0;
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav a {
	margin: 0 0.5rem;
	border: 2px solid var(--text-color);
	border-radius: 12px;
	padding: 0 12px;
}

main {
	overflow-y: scroll;
	display: grid;
	font-size: 2rem;
	text-align: center;
}

/* Links */

a {
	color: var(--text-color);
	font-weight: normal;
	text-decoration: none;
}

a:focus,
a:hover {
	cursor: help;
	text-decoration: underline;
	text-underline-offset: 8px;
	background-color: var(--text-color-secondary);
	border: 2px solid white;
}

/* Headings */
/* BIO SUB PAGE MAIN */

h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 0;
}

h2 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 0;
	font-family: var(--primary-font);
}

ul {
	padding: 0;
	margin: 1rem 0;
}

ul li {
	list-style: none;
	padding: 0;
}

/* Body Text */
section {
	border-right: 1px dashed var(--text-color);
	padding: 0 1rem;
}

section:last-of-type {
	border-right: 0;
}

article+article	 {
	margin: 4rem 0;
}
.verticalscroll .bio p:first-of-type {
	margin-top: 1rem;
}

p {
	line-height: 125%;
}

/* BIO SUB PAGE MAIN */

/* Images */

img {
	opacity: 1;
	transition-timing-function: ease-out;
	transition: 0.5s;
}

img:hover,
img:focus {
	opacity: 0;
	transition-timing-function: ease-in;
	transition: 0.5s;
}

video {
	opacity: 1;
	transition-timing-function: ease-out;
	transition: 0.5s;
}


video:hover,
video:focus {
	opacity: 0;
	transition-timing-function: ease-in;
	transition: 0.5s;
}

/* Footer */

footer {
	position: fixed;
	z-index: 1000;
	cursor: default;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer video {
	width: 240px;
	height: auto;
}

/* Breakpoint */
@media (max-width: 788px) {
	body {
		grid-template-columns: 1fr;
	}

	header {
		border-right: 0;
		border-bottom: 1px solid var(--text-color);
	}

	nav {
		position: inherit;
	}
}
