:root {
  --primary-font: "Capture", Helvetica, sans-serif;
  --secondary-font: "Grenze Gotisch", cursive;
  --text-color: #000;
  --white-color: #FFF;
  --lime-color: #f3ffd4;
  --secondary-color: #2400FF;
  --fade-in-effect: fadein 800ms;
  font-size: calc(1em + 0.5vw);
  font-family: var(--secondary-font);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: var(--fade-in-effect);
  -moz-animation: var(--fade-in-effect);
  -ms-animation: var(--fade-in-effect);
  -o-animation: var(--fade-in-effect);
  animation: var(--fade-in-effect);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

::selection {}

html, body {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

body {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  /* width: calc(50% + 0.5vw); */
}

img {
  width: 100%;
}

/* header {
  background: url("../assets/logo-bw.png") no-repeat;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header:hover {
  background: url("../assets/logo-colour.png") no-repeat;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
section {
  align-self: center;
  flex-grow: 1;
}

footer {
  font-family: var(--primary-font);
  font-size: 0.6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

footer p, footer a {
  margin: 0.5em;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 465px) {
  body {
    width: 90%;
    margin: 0 auto;
    /* width: calc(50% + 0.5vw); */
  }

  /*
  footer {
    display: none; */
}
}
}